@model Inmobiliaria2Cuarti.Models.Pagos

@{
    ViewData["Title"] = "Detalle de Pago";
}

<h2>Detalle de Pago</h2>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NroPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioAnulacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioAnulacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
</div>